@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url(https://db.onlinewebfonts.com/c/b851561fd22deabc04e65e994e257e51?family=Pragmatica+W01+Extended);
html {
  scroll-behavior: smooth;
  background: rgb(252, 11, 235);
  background: -moz-linear-gradient(
    149deg,
    rgba(252, 11, 235, 1) 0%,
    rgba(25, 142, 251, 1) 100%
  );
  background: -webkit-linear-gradient(
    149deg,
    rgba(252, 11, 235, 1) 0%,
    rgba(25, 142, 251, 1) 100%
  );
  background: linear-gradient(
    149deg,
    rgba(252, 11, 235, 1) 0%,
    rgba(25, 142, 251, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0beb",endColorstr="#198efb",GradientType=1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Pragmatica W01 Extended"; */
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #ffffff;
  padding-top: 20px;

  padding: 20px 20px 40px 20px;
  z-index: 1;
}
.header h3 {
  text-align: center;
  background-color: #5383ff;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
}
.header p {
  background-color: #5383ff;
  padding: 7px 20px;
  font-weight: 200;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header img {
  width: 100px;
}
.header h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding: 0 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forms {
  z-index: 10;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: -20px 20px 0px 20px;
  width: 90%;
  background-color: #ffffff;
  color: #000000;
}
.forms form {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #000000;
  border: 2px solid #c12ce9;
  border-radius: 30px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.formsubmit {
  background-color: #ffffff;
  border: 2px solid #c12ce9;
  border-radius: 20px;
  margin: 40px auto 0px auto;
  width: 50%;
  padding: 10px;
  color: #000000;
  transition: all 1s ease;
}
.formsubmit:hover {
  scale: 1.2;
  background-color: #c12ce9;
  color: #f6f6f6;
}
.menu {
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  text-transform: uppercase;
  color: #f6f6f6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}
.menu h2,
.menu h3 {
  text-align: center;
  color: #000000;
  border-radius: 10px;
}
.menuheader {
  font-size: 40px;
}

.menu h3 {
  margin-top: 10px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}
.menu ul li {
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  border: 1px solid #ff4e39;
  color: #000000;
  overflow: hidden;

  background-color: #f6f6f6;
}
.menu ul li img {
  width: 100%;
  height: 65px;
  object-fit: cover;
}
.horizontal-radio {
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.horizontal-radio label {
  margin-right: 20px;
}
.horizontal-radio input[type="radio"] {
  display: none;
}

.horizontal-radio input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
}
#id_lunch {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#id_lunch div:hover,
#id_dinner div:hover {
  scale: 1.2;
  background-color: #c12ce9;
}
#id_lunch div {
  background-color: #ffffff;
  width: 40%;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #c12ce9;
}
#id_lunch div,
#id_dinner div {
  transition: all 1s ease;
}
#id_lunch div label {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
#id_dinner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#id_dinner div {
  background-color: #ffffff;
  width: 40%;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #c12ce9;
}
#id_dinner div label {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.horizontal-radio input[type="radio"]:checked + label:before {
  background-color: green;
}

.horizontal-radio input[type="radio"] {
  display: inline-block;
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
  .header h1 {
    font-size: 40px;
  }
  .forms form {
    padding: 20px;
  }
  .formsubmit {
    margin-top: 20px;
  }
}
