@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.header img {
  width: 100px;
}
.header h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  padding: 0 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forms {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 80%;
  background-color: #171717;
}
.forms form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #f6f6f6;
  width: 100%;
}
.formsubmit {
  background-color: #5b8266;
  border: none;
  border-radius: 20px;
  padding: 5px;
  color: #f6f6f6;
}

.menu {
  background-color: #747474;
  width: 80%;
  padding: 20px;
  color: #f6f6f6;
  border-radius: 20px;
}
.menu h2,
.menu h3 {
  text-align: center;
  color: #000000;
  border-radius: 10px;
}
.menu h2 {
  background-color: #5b8266;
}
.menu h3 {
  margin-top: 10px;
  background-color: #f6f6f6;
}

.menu ul {
  list-style-type: none;
}
.menu ul li {
  text-align: center;
  color: #f6f6f6;
  padding: 5px;
  background-color: #2b2c28;
}
.menu ul li:nth-child(1) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.menu ul li:nth-last-child(1) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Add this CSS to your stylesheet or <style> tag in HTML */
.horizontal-radio {
  display: flex;
  align-items: center;
  margin: 10px auto;
  /* Align items vertically */
}

.horizontal-radio label {
  margin-right: 20px;
}
.horizontal-radio input[type="radio"] {
  display: none; /* Hide the default radio button */
}

.horizontal-radio input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 20px; /* Adjust the size of the custom radio button */
  height: 20px; /* Adjust the size of the custom radio button */
  border: 2px solid #aaa; /* Border color of the custom radio button */
  border-radius: 4px; /* Adjust the border-radius to make it square */
  position: absolute;
  left: 0;
  top: 0;
}

.horizontal-radio input[type="radio"]:checked + label:before {
  background-color: green; /* Change the background color when checked */
}

.horizontal-radio input[type="radio"] {
  display: inline-block; /* Display radio button as inline block */
  margin-right: 5px; /* Adjust the spacing between radio buttons and text */
}

@media screen and (max-width: 1000px) {
  .header h1 {
    font-size: 40px;
  }
}
