{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>SRM Mess</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <img src="{% static 'images/logo.png' %}" />
        <h1>SRM MESS</h1>
        <h3>
          SPOONFUL OF CONSCIOUSNESS
        </h3>
        <p>#NOFOODWASTAGE</p>
      </div>
      <div class="forms">
        <form method="POST">
          {% csrf_token %} {{form.as_p}}
          <input
            type="submit"
            value="Save"
            id="savebutton"
            class="formsubmit"
          />
        </form>
      </div>
      <div class="menu">
        <h2>Menu</h2>
        <ul>
          {% for meal, item in data.menu %}
            {% ifchanged meal %}
              {% if not forloop.first %}
                </ul>
              {% endif %}
              <h3>{{ meal }}</h3>
              <ul>
            {% endifchanged %}
            <li>{{ item }}</li>
            {% if forloop.last %}
              </ul>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var lunchDivs = document.querySelectorAll('#id_lunch div');
    
        lunchDivs.forEach(function(div) {
          div.addEventListener('click', function() {
            lunchDivs.forEach(function(d) {
              d.style.background = '#ffffff'; 
            });
            div.style.background = 'rgb(255,52,50)';
            div.style.background = '-moz-linear-gradient(90deg, rgba(255,52,50,1) 0%, rgba(252,143,83,1) 100%)';
            div.style.background = '-webkit-linear-gradient(90deg, rgba(255,52,50,1) 0%, rgba(252,143,83,1) 100%)';
            div.style.background = 'linear-gradient(90deg, rgba(255,52,50,1) 0%, rgba(252,143,83,1) 100%)';
            div.style.filter = 'progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3432",endColorstr="#fc8f53",GradientType=1)';
          });
        });
      });
      document.addEventListener('DOMContentLoaded', function() {
        var dinnerDivs = document.querySelectorAll('#id_dinner div');
    
        dinnerDivs.forEach(function(div) {
          div.addEventListener('click', function() {
            dinnerDivs.forEach(function(d) {
              d.style.background = '#ffffff';
            });
            div.style.background = 'rgb(255,52,50)';
            div.style.background = '-moz-linear-gradient(90deg, rgba(255,52,50,1) 0%, rgba(252,143,83,1) 100%)';
            div.style.background = '-webkit-linear-gradient(90deg, rgba(255,52,50,1) 0%, rgba(252,143,83,1) 100%)';
            div.style.background = 'linear-gradient(90deg, rgba(255,52,50,1) 0%, rgba(252,143,83,1) 100%)';
            div.style.filter = 'progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3432",endColorstr="#fc8f53",GradientType=1)';
          });
        });
      });
    </script>
    
    
  </body>
</html>