{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/plot.css' %}" />
    <title>Graph Analysis</title>
  </head>
  <body>
    <div class="bodymain">
      <h1>Graph Analysis</h1>
      <div class="container">
        <img
          src="data:image/png;base64,{{ plot_data }}"
          alt="Matplotlib Table Plot"
        />
      </div>
    </div>
  </body>
</html>
